<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="nav">
        <div class="nav__container">
            <div class="nav__mobile">
                <div class="nav__logo">
                    <img  src="https://via.placeholder.com/100x50"/>
                </div>
                <div class="nav__burger">
                    <img  src="https://via.placeholder.com/50x50"/>
                </div>
            </div>
            
            <div class="nav__list">
                <ul>
                    <li class="nav__list-item"><a href="/">HOME VIEW</a></li>
                    <li class="nav__list-item"><a href="/banner.html">BANNER</a></li>
                    <li class="nav__list-item">PROCESS</li>
                    <li class="nav__list-item">JOURNAL</li>
                    <li class="nav__list-item">CONTACT INFO</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content__container">

            <div class="banner">
                <div class="banner__container">
                    <h4 class="eyebrow">Meow here</h4>
                    <h1>Eat a plant, kill a hand<br>Catnip, treats, more catnip.</h1>
                    <button class="cta">MEOW NOW</button>
                </div>
            </div>

            <div class="cards">
                <div class="cards__container">
                    <div class="cards__item">
                        <div class="cards__image">
                            <img src="https://via.placeholder.com/200x100"/>
                        </div>
                        <div class="cards__summary">
                            <h2 class="font-header-card">Article 1</h2>
                            <h6>Aug 8, 2013</h6>
                            <p>I cry and cry and cry unless you pet me, and then maybe i cry just for fun bird bird bird bird bird bird human why take bird out i could have eaten that yet chase dog then run away</p>
                        </div>                    </div>
                </div>
                <div class="cards__container">
                    <div class="cards__item">
                        <div class="cards__image">
                            <img src="https://via.placeholder.com/200x100"/>
                        </div>
                        <div class="cards__summary">
                            <h2 class="font-header-card">Article 1</h2>
                            <h6>Aug 8, 2013</h6>
                            <p>I cry and cry and cry unless you pet me, and then maybe i cry just for fun bird bird bird bird bird bird human why take bird out i could have eaten that yet chase dog then run away</p>
                        </div>
                    </div>
                </div>
                <div class="cards__container">
                    <div class="cards__item">
                        <div class="cards__image">
                            <img src="https://via.placeholder.com/200x100"/>
                        </div>
                        <div class="cards__summary">
                            <h2 class="font-header-card">Article 1</h2>
                            <h6>Aug 8, 2013</h6>
                            <p>I cry and cry and cry unless you pet me, and then maybe i cry just for fun bird bird bird bird bird bird human why take bird out i could have eaten that yet chase dog then run away</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article">
                <div class="article__container">
                    <div class="article__image">
                        <img src="https://via.placeholder.com/500x500"/>
                    </div>
                    <div class="article__summary">
                        <h2>Get the purrrrzz</h2>
                        <h6>Cuddle no cuddle cuddle love scratch scratch</h6>
                        <p>Stare at ceiling. Roll over and sun my belly sugar, my siamese, stalks me (in a good way), day and night , or jump five feet high and sideways when a shadow moves don't nosh on the birds meow in empty rooms if it smells like fish eat as much as you wish. Jump around on couch, meow constantly until given food, oooo! Stare at ceiling. Roll over and sun my belly sugar, my siamese, stalks me (in a good way), day and night , or jump five feet high and sideways when a shadow moves don't nosh on the birds meow in empty rooms if it smells like fish eat as much as you wish. Jump around on couch, meow constantly until given food, oooo!</p>
                        <button class="cta">MEOW NOW</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="footer__container">
            <div>PHONE</div>
            <div>COPYRIGHT</div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
